ion-content{
    --background: linear-gradient(180deg, #1A4640 0%, #f2f2f2 100%);
}

img#login-bg{
    position: absolute;
    left: 0%;
    z-index: 0;
    bottom: 1%;
    width: 100%;
    transform: rotate(10deg);
}

ion-segment{
    position: relative;
    z-index: 1;
}

ion-segment-button{
    background-color: #f2f2f2;
    color: #212529;
    overflow: hidden;
}

ion-segment-button.login{
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

ion-segment-button.register{
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.active-tab {
    background-color: #212529;
    --ion-color-base:#f2f2f2;
  }
  

@media(max-width:1000px){
    .main-content{
        width: 60% !important;
    }
}

@media(max-width:600px){
    .main-content{
        width: 75% !important;
    }
}

@media(max-width:500px){
    .main-content{
        width: 85% !important;
    }
}

@media(max-width:400px){
    .main-content{
        width: 100% !important;
    }
}