    <ion-header>
    <ion-toolbar>
      <ion-title>Welcome to Niilano!</ion-title>
      <ion-buttons slot="end">
        <ion-button color="light" (click)="closeModal()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

    <ion-content class="modal-content ion-padding">
      
      <ion-list>
        <ion-item-divider>
          <ion-label>Getting Started Guide</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>Browse our selection</h2>
            <p>Explore our wide range of products available for purchase or rent.</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>Filter and search</h2>
            <p>Use filters and search options to find exactly what you're looking for.</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>Add to cart</h2>
            <p>Add products to your cart and proceed to checkout.</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>Rent or purchase</h2>
            <p>Choose the rental duration or proceed with the purchase.</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>Payment options</h2>
            <p>Pay securely using various payment methods.</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>Order confirmation</h2>
            <p>Receive a confirmation email with all the details after your order is processed.</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>Need help?</h2>
            <p>Contact our support team via in-app chat or email us at support@niilano.com.</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-text class="ion-text-center">
        <h3>Thanks for choosing Niilano, and happy shopping!</h3>
      </ion-text>

    </ion-content>
