<ion-header>
  <ion-toolbar>
    <ion-title>
      Account Balance
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="background : #f2f2f2;">
    <ion-item lines="none">
      <ion-label>
        <h2>Available Balance</h2>
        <p>{{ availableBalance }}</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <h2>Pending Money</h2>
        <p>{{ pendingMoney }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block" style="--background:#1a4640;" (click)="withdrawMoney()">Withdraw</ion-button>
</ion-content>
