<ion-header>
  <ion-toolbar style="color: #f2f2f2; --background:#f2f2f2; ">
    
    <ion-title style="width:auto;" class="logo">
      <img src="../../../assets/images/logo.png" class="logo" alt="logo">
    </ion-title>

    <ion-buttons (click)="redirect('saveditems')" class="d-sm-block d-none py-1 rounded" style="color:#f2f2f2; background:#1A4640;" slot="end">

      <ion-button class="d-flex align-items-center justify-content-center">
        <ion-icon size="large" name="bookmark-outline"></ion-icon>
        <span>Saved Items</span>
      </ion-button>

      <span class="position-absolute start-0 translate-middle badge rounded-pill bg-danger" style="top:20%;">
        {{savedItems.length}}
      </span>
    
    </ion-buttons>

    <ion-buttons (click)="redirect('saveditems')" class="d-sm-none d-block rounded m-0" style="color:#1A4640;" slot="end">

      <ion-button id="mobile-saved-icon" style="--padding-end: 0%;" class="d-flex m-0 p-0 align-items-center justify-content-center" routerLink="/cart">
        <ion-icon size="large" name="bookmark-outline"></ion-icon>
        <span class="position-absolute start-20 translate-middle badge rounded-pill bg-danger" style="top:30%;">
          {{savedItems.length}}
        </span>
      </ion-button>
    
    </ion-buttons>

    <ion-buttons class="menu-button" slot="end">
      <ion-menu-button size="large" style="color:#1A4640;"></ion-menu-button>
    </ion-buttons>

    
  </ion-toolbar>
  
</ion-header>

