// ion-img {
//     width: 100%;
//   }
  
//   ion-img {
//     object-fit: cover;
//   }

//   @media (max-width: 768px) {
//   ion-img {
//     width: 100%;
//     height: auto;
//   }
// }

/* Scoped components require higher specificity to customize */
ion-searchbar.custom {
    --background: #f2f2f2;
    --color: #1A4640;
    --placeholder-color: #1A4640;
    --icon-color: #1A4640;
    --clear-button-color: #1A4640;
  
    --border-radius: 4px;
  }
  
  ion-searchbar.ios.custom {
    --cancel-button-color: #f2f2f2;
  }
  
  ion-searchbar.md.custom {
    --cancel-button-color: #1A4640;
  }

@media(max-width:530px){
    ion-toolbar{
        padding: 0% !important;
    }
    .button-native,.logo{
        padding: 0% !important;
    }
}

/* Styles for iOS devices */
:host-context(.ios) {
  /* your styles here */
  // ion-toolbar{
  //   // --padding-bottom:6%;
  // }

  ion-buttons{
    margin-top: 3% !important;
    margin-bottom: 3% !important;
  }
  
}
