<ion-header>
  <ion-toolbar style="color: #f2f2f2; --background:#f2f2f2;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="logo">
      <img src="../../../assets/images/logo.png" class="logo" alt="logo">
    </ion-title>
    <ion-buttons class="d-sm-block d-none" style="color:#1A4640;" slot="end">
      <ion-button routerLink="/cart">
        <ion-icon name="cart"></ion-icon>
        <span class="fw-bold">Cart<ion-badge color="danger">70</ion-badge></span>
      </ion-button>

      <ion-button class="rounded-2 fw-bold text-light" style="background-color: #1A4640;" id="hover-trigger">
        <ion-icon class="mx-1" name="person-circle-outline"></ion-icon>
          <span class="mx-1"> Account </span>
      </ion-button>
    <ion-popover trigger="hover-trigger" triggerAction="hover">
      <ng-template>
        <ion-content class="ion-padding">Profile</ion-content>
      </ng-template>
    </ion-popover>
    
    </ion-buttons>

    <ion-buttons class="d-sm-none d-block " style="color:#1A4640;" slot="end">

      <ion-button class="rounded-2 fw-bold h-100 p-0" style="color: #1A4640;" id="hover-trigger">
        <ion-icon name="person-circle-outline" style="font-size: 45px;"></ion-icon>
      </ion-button>
    
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="px-4" style="--background:#1A4640;">
    <ion-searchbar color="light" placeholder="Search for products or rentals" ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon style="color:#f2f2f2;" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

