<ion-header>
  <ion-toolbar>
    <ion-title>
      Reset Password
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form *ngIf="!displayResetForm" class="container" [formGroup]="resetPasswordForm"
    (ngSubmit)="submitResetPasswordForm()">

    <p>Please enter your email address below. We will send you a link to reset your password.</p>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>


    <ion-button class="mt-3" type="submit" [disabled]="!resetPasswordForm.valid"
      style="--background: #1A4640; color: #f2f2f2;" expand="block">Reset Password</ion-button>
  </form>


  <form *ngIf="displayResetForm && !resetLinkError" class="container" [formGroup]="changePasswordForm"
    (ngSubmit)="onSubmit()">

    <p>Please enter your new password and retype it below to reset your password.</p>

    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="{{ showPassword ? 'text' : 'password' }}" formControlName="newPassword"></ion-input>
      <ion-button color="primary" class="m-0" style="margin-top:7% !important;" slot="end" fill="clear"
        (click)="showPassword = !showPassword">
        <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Retype Password</ion-label>
      <ion-input type="{{ showPassword ? 'text' : 'password' }}" formControlName="retypePassword"></ion-input>
      <ion-button color="primary" class="m-0" style="margin-top:7% !important;" slot="end" fill="clear"
        (click)="showPassword = !showPassword">
        <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
      </ion-button>
      <ion-note slot="error">**Passwords do not match</ion-note>
    </ion-item>

    <div class="ion-padding">
      <ion-button type="submit" expand="block" style="--background: #1A4640; color: #f2f2f2;"
        [disabled]="!changePasswordForm.valid">Change Password</ion-button>
    </div>

  </form>

  <div class="container" *ngIf="displayResetForm && resetLinkError">
    <p> {{resetLinkError}} </p>
  </div>

</ion-content>