<ion-header>
  <ion-toolbar>

    <ion-buttons class="rounded-circle" slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title style="width:auto;">Settings & Support</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list class="mt-3 p-0" style="--background: #f2f2f2;">
    <ion-list-header class="rounded text-white" style="--background: #2b3130;">
      <ion-label>
        <h1>
          Settings
        </h1>
      </ion-label>
    </ion-list-header>
    <ion-item lines="full" button detail="false">
      <ion-icon slot="start" size="large" class="me-1 text-dark" name="lock-closed-outline"></ion-icon>
      <ion-label>
        <h2>Change Password</h2>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-list class="mt-3 p-0" style="--background: #f2f2f2;">
    <ion-list-header class="rounded text-white" style="--background: #2b3130;">
      <ion-label>
        <h1>Support</h1>
      <p>
        Help is available through any of these channels:
      </p>
      </ion-label>
    </ion-list-header>

    <ion-item button detail="false">
      <ion-icon class="me-1 text-dark" size="large" name="help-circle-outline"></ion-icon>
      <ion-label>
        <h2>FAQ<small>s</small></h2>
        <p> Frequently asked questions </p>
      </ion-label>
    </ion-item>
    
    <ion-item button detail="false">
      <ion-icon class="me-1 text-dark" size="large" name="mail-outline"></ion-icon>
      <ion-label>
        <h2>Contact Us</h2>
        <p> info@niilano.com </p>
        <p> +233 59 378 7724 </p>
        <p> +233 59 378 7724 </p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center text-dark">
      <ion-col size="auto">
        <p>&copy; 2023 Niilano Marketplace</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

