ion-col.category {
    background-color: #D9D9D9;
    border: solid 3px #fff;
    color: #fff;
    text-align: center;
  }
  ion-col.a {
    background-color: #D9D9D9;
    border: solid 3px #fff;
    color: #fff;
    text-align: center;
  }
  
  .category-col img {
    width: 50%;
    object-fit: cover;
    height: 50px;
  }
  
  ion-popover::part(backdrop) {
    background-color: #1A4640;
  }

  @media(max-width:530px){
    // ion-row{
    //     flex-wrap: nowrap;
    //     overflow-x: scroll;
    // }
  }