
            <ion-grid>
              <ion-text class="ion-text-left" style="color: black;" color="dark">
                <h3>Shop by Category</h3>
              </ion-text>
              <ion-row>
                
                <ion-col [id]="category.name" style="color: black; cursor: pointer;" *ngFor="let category of categories" size="12" size-md="12" size-lg="12" class="category-col">
                  
                  <ion-item>
                    <ion-thumbnail slot="start">
                      <img class="rounded-circle h-100 w-100" src=".././../../assets/images/electronics.jpg" alt="{{category.name}}" />
                    </ion-thumbnail>
                    <ion-label class="text-wrap">{{ category.name }}</ion-label>
                  </ion-item>

                  <ion-popover side="right" *ngIf="category.Subcategories" [trigger]="category.name" triggerAction="click" >
                    <ng-template>
                    <ion-content>
                      <ion-list>
                        <ion-item *ngFor="let sub of category.Subcategories" href="#">
                          <ion-thumbnail slot="start">
                            <img class="rounded-circle" [alt]="sub.name" src=".././../../assets/images/electronics.jpg" />
                          </ion-thumbnail>
                          <ion-label>{{sub.name}}</ion-label>
                        </ion-item>
                      </ion-list>
                    </ion-content>
                    </ng-template>
                  </ion-popover>

                </ion-col>
                
              </ion-row>
            </ion-grid>
            