<ion-header>
  <ion-toolbar>

    <ion-buttons class="rounded-circle" slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ user.username }}</ion-title>

    <ion-button class="me-2" style="--background : #f2f2f2; --color: #000;" slot="end">

      <i class="fa-solid fa-share"></i>

    </ion-button>

    <ion-button id="auto-trigger" class="me-2" style="--background : #transparent; --color: #f2f2f2;" slot="end">

      <i slot="end" class="fa-solid fa-ellipsis-vertical fa-2x"></i>

    </ion-button>

  </ion-toolbar>
</ion-header>

 <ion-popover trigger="auto-trigger" size="auto">
  <ng-template>
    <ion-content class="ion-padding">
      <ion-item button class="ion-no-padding" lines="none">
        <ion-icon class="text-danger me-1" size="large" name="alert-circle"></ion-icon>
        <ion-label>Report</ion-label>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-content class="ion-padding">

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img class="h-100 w-100" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>
      <h2> {{ user.first_name }} {{user.last_name }} </h2>
      <h3>@{{ user.username }}</h3>
      <p>{{ user.location }}</p>
    </ion-label>
  </ion-item>

  <div class="d-flex justify-content-center text-center text-dark align-items-center">

    <p class="p-2">
      <strong> 21 </strong> <br>
      Following
    </p>

    <p class="p-2" style="border-left: 2px dashed black;">
      <strong> 10 </strong> <br>
      Followers
    </p>

  </div>

  <p class="text-center text-dark">
    {{ user.bio }}
  </p>

  <div class="mb-3 text-center">
    
    <ion-button style="--background:#1A4640; --color:#f2f2f2;">
      <ion-icon class="me-1" name="person-add"></ion-icon>
      Follow
    </ion-button>
  
    </div>


  <ion-list>
    <ion-list-header>
      <ion-label>Available Products</ion-label>
    </ion-list-header>
    <ion-item lines="none" *ngFor="let product of user.products">
      <ion-thumbnail slot="start">
        <img class="h-100" src="../../../assets/images/agric-food.jpg" alt="{{ product.name }} image">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>{{ product.price | currency }}</p>
      </ion-label>

      <ion-button style="--background:#1A4640; --color:#f2f2f2;" slot="end">
        view
      </ion-button>
      
    </ion-item>
  </ion-list>
</ion-content>
