<ion-header>
  <ion-toolbar>

    <ion-buttons class="rounded-circle" slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>
      My Products
    </ion-title>

    <ion-button slot="end" color="light" class="d-sm-block d-none" >
      <ion-icon class="me-2" name="share-social"></ion-icon> Share this page
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item class="ion-text-center">
    <ion-label>
      24 Listings
    </ion-label>
  </ion-item>

  <ion-list style="background:#f2f2f2;">
    <ion-item *ngFor="let product of products">
      <ion-thumbnail slot="start">
        <img [src]="product.image">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>{{product.description}}</p>
        <p *ngIf="!product.discount_percent">{{ product.price }}</p>
        <p *ngIf="product.discount_percent">
          <span class="text-decoration-line-through me-2">{{ product.price }}</span>
          <span>{{ product.discount_price }}</span>
        </p>
        
      </ion-label>
      
      <ion-buttons slot="end">
      <ion-button (click)="presentEditProductModal(product)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="presentDeleteProductActionSheet()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
      </ion-buttons>

    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="presentListProductModal()" style="--background:#1a4640;">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer class="d-sm-none d-block">
  <!-- <ion-toolbar> -->
    <ion-button style="--background:#1a4640;" class="w-100 m-0" >
      <ion-icon class="me-2" name="share-social"></ion-icon> Share this page
    </ion-button>
  <!-- </ion-toolbar> -->
</ion-footer>