<ion-content>

  <img id="login-bg" src="../../../assets/images/login-bg.png" alt="login bg" />

  <div class="w-50 main-content p-3 mx-auto h-100 d-flex align-items-center justify-content-center" style="position: relative; z-index:1; flex-direction: column; " >
    <div class="logo text-center">
      <img id="logo" class="rounded p-2" src="../../../assets/images/logo.png" alt="Niilano logo" />
    </div>  

    <!-- <div class="w-100 pt-5 pb-3" style="font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;">
      <div class="w-100 rounded mx-auto d-flex p-1" style="background-color: #1A4640; box-sizing: border-box;">
        <ion-button class="btn w-50 p-3" style="background-color: #f2f2f2; color: #1A4640; box-sizing: content-box;" >Login</ion-button>
        <ion-button class="btn w-50 p-3" style="color: #f2f2f2;">Register</ion-button>
      </div>
    </div> -->

    <ion-segment (ionChange)="onSegmentChange($event)" color="primary" class="mt-5 mb-3">
      <ion-segment-button class="fw-bold" value="login" color="success" style="background-color:#f2f2f2;">
        Login
      </ion-segment-button>
      <ion-segment-button class="fw-bold" value="register" style="background-color: #1A4640;">
        Register
      </ion-segment-button>
    </ion-segment>
    

    <h3 class="pb-3 fw-bolder" style="color:#1A4640;">Welcome back</h3>

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="w-100">
      <ion-item lines="full" class="rounded-4">
        <ion-label position="floating">Email address</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>

      <div class="text-danger fw-bolder p-2" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')">
        Email is required
      </div>

      <div class="text-danger fw-bolder p-2" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('email')">
        Email is not valid
      </div>
      

      <!-- <app-error-message message="Email is mandatory" *ngIf="form.get('email').touched && form.get('email').errors?.required" ></app-error-message> -->

      <ion-item lines="full" class="rounded-4 mt-4">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <div class="text-danger fw-bolder p-2" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">
        Password is required
      </div>
      <div class="text-danger fw-bolder p-2" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('minlength')">
        Password must have at least 8 characters
      </div>
      

      <div class="form-group text-end mt-3">
        <ion-button [disabled]="!loginForm.valid" type="submit" class="rounded-4" style="--background: #1A4640; color: #f2f2f2;">Sign In</ion-button>
      </div>
    </form>

  </div>

</ion-content>
