
<ion-menu type="push" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
<ion-header>
  <ion-toolbar style="--background:#1A4640; color: #f2f2f2; border-bottom: 1px solid;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Products
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button style="color: #f2f2f2;"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar style="--background:#1A4640; color: #f2f2f2;">
    <ion-searchbar class="custom"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon style="color:#f2f2f2;" name="options"></ion-icon>
        <ion-text class="ms-1"> Filters </ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" >
  <!-- <ion-grid>
    <ion-row class="text-danger">
      <ion-col size="6" class="ion-text-center">
        <ion-select placeholder="Select Category" [(ngModel)]="selectedCategory" (ionChange)="filterProducts()">
          <ion-select-option value="">All</ion-select-option>
          <ion-select-option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-select placeholder="Select Price Range" [(ngModel)]="selectedPriceRange" (ionChange)="filterProducts()">
          <ion-select-option value="">All</ion-select-option>
          <ion-select-option value="low">Low</ion-select-option>
          <ion-select-option value="medium">Medium</ion-select-option>
          <ion-select-option value="high">High</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <div class="products">
    
    <ion-card class="m-0 mb-3" *ngFor="let product of products">
      <ion-img class="w-100 img" [src]="product.imageUrl"></ion-img>
      <ion-card-content style="background-color:#ffffff;">
        <ion-card-title style="color:#1A4640;">{{product.name}}</ion-card-title>
        <ion-card-subtitle>{{product.price}}</ion-card-subtitle>
        <p>{{product.description}}</p>
      </ion-card-content>
    </ion-card>
   
  </div>

 
      </ion-content>
      
      <ion-footer>
        <ion-toolbar>
          <ion-title>
            Footer
          </ion-title>
        </ion-toolbar>
      </ion-footer>
      
      
      
      
</div>