
<ion-menu type="push" contentId="products-content">
<app-menu class="h-100"></app-menu>
</ion-menu>

<div class="ion-page" id="products-content">
<ion-header>
  <ion-toolbar style="--background:#1A4640; color: #f2f2f2; border-bottom: 1px solid;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Products
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button style="color: #f2f2f2;"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar style="--background:#1A4640; color: #f2f2f2;">
    <ion-searchbar class="custom"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="openFilter()">
        <ion-icon style="color:#f2f2f2;" name="options"></ion-icon>
        <ion-text class="ms-1"> Filters </ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" >
  
  <ion-label class="search-results">
    Search Results: {{products.length}}
  </ion-label>
  

  <ion-row class="products">

    <!-- <app-loading></app-loading> -->

    <ion-col class="product-item" [routerLink]="['/product-details']" size="6" size-md="3" size-lg="2" *ngFor="let product of products"  >
    
    <ion-card class="m-1">
      <ion-img onload="alert('hello')" class="w-100 img" [src]="product.image"></ion-img>
      <ion-card-content class="p-2" style="background-color:#ffffff;">
        <ion-card-title class="fs-5" style="color: #1A4640; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          {{product.name}}
        </ion-card-title>
        
        <ion-card-subtitle>{{product.price | currency : 'GH₵'}}</ion-card-subtitle>
        <p>{{product.location}}</p>
      </ion-card-content>
    </ion-card>

    </ion-col>
   
  </ion-row>

  <!-- <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
    <ion-infinite-scroll-content loadingText="Loading More Products Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

 
      </ion-content>
     
      
      
      
</div>