

<ion-header>
  <ion-toolbar style="--background:#1A4640; color: #f2f2f2; border-bottom: 1px solid;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Products
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button style="color: #f2f2f2;"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar id="search" style="--background:#1A4640; color: #f2f2f2;">
    <ion-searchbar (click)="searchI()" class="custom" placeholder="Search for products or sellers"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-item lines="none" style="--background: transparent;">

    <ion-label class="search-results text-dark">
      Search Results: {{products.length}}
    </ion-label>

    <ion-buttons slot="end">
      <ion-button class="text-primary fs-6" (click)="openFilter()">
        <ion-icon class="me-1" name="options"></ion-icon> Filter
      </ion-button>
    </ion-buttons>

  </ion-item>
  

  <ion-row class="products">

    <!-- <app-loading></app-loading> -->

    <ion-col class="product-item" [routerLink]="['/product-details']" [queryParams]="{ product: product.id }"     size="6" size-md="3" size-lg="2" *ngFor="let product of products"  >
    
    <ion-card class="m-1">
      <ion-img onload="alert('hello')" class="w-100 img" [src]="product.image.url"></ion-img>
      <ion-card-content class="p-2" style="background-color:#ffffff;">
        <ion-card-title class="fs-6" style="color: #1A4640; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          {{product.name}}
        </ion-card-title>
        
        <ion-card-subtitle class="mt-1">
          <div class="price">

            <div class="d-flex justify-content-between" *ngIf="product.discount_percent">
              <div style="width: 70%;">
                <span class="text-decoration-line-through me-2">{{product.price |
                  currency : 'GH₵'}}</span> <br>
                <span class="discounted-price">{{product.discount_price | currency
                  : 'GH₵'}}</span>
              </div>
              <span style="width: 30%;">
                <ion-badge class="w-100 h-100 d-flex align-items-center justify-content-center"
                  style="--background:#1A4640;">{{product.discount_percent}}%</ion-badge>
              </span>
            </div>

            <span class="original-price" *ngIf="!product.discount_percent">{{product.price | currency :
              'GH₵'}}</span>

          </div>
        </ion-card-subtitle>

        <p class="d-flex align-items-center"> <ion-icon class="text-dark" name="location-outline"></ion-icon> {{product.location}}</p>

        <p *ngIf="product.Campus" class="d-flex align-items-center text-nowrap" style="text-overflow: ellipsis;" > <ion-icon class="text-dark me-1" name="school-outline"></ion-icon> {{product.Campus}} </p>
        
      </ion-card-content>
    </ion-card>

    </ion-col>
   
  </ion-row>


    <div id="container" *ngIf="products.length < 1" class="text-dark text-center">
      
   <strong>
    Our sellers are currently adding products.
   </strong>

   <p>
    New items will be available soon!
   </p>
</div>
    

  <!-- <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
    <ion-infinite-scroll-content loadingText="Loading More Products Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

 
      </ion-content>
     