
  .toast-container {
    display: flex;
    flex-direction: column !important;
  }




ion-searchbar.custom {
    --background: #f2f2f2;
    --color: #1A4640;
    --placeholder-color: #1A4640;
    --icon-color: #1A4640;
    --clear-button-color: #1A4640;
  
    --border-radius: 4px;
  }
  
  ion-searchbar.ios.custom {
    --cancel-button-color: #f2f2f2;
  }
  
  ion-searchbar.md.custom {
    --cancel-button-color: #1A4640;
  }

@media(max-width:530px){
    .products{
        column-count: 2;
    }
}
