
<ion-content>

  <img id="login-bg" src="../../../assets/images/login-bg.png" alt="login bg" />

  <div class=" main-content p-3 mx-auto h-100 d-flex align-items-center justify-content-center" style="position: relative; z-index:1; flex-direction: column;  " >
    <div class="logo text-center">
      <img id="logo" class="rounded p-2" src="../../../assets/images/logo.png" alt="Niilano logo" />
    </div>  

    <!-- <div class="w-100 pt-5 pb-3" style="font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;">
      <div class="w-100 rounded mx-auto d-flex p-1" style="background-color: #1A4640; box-sizing: border-box;">
        <button class="btn w-50 p-3" style="color: #f2f2f2;" >Login</button>
      <button class="btn w-50 p-3" style="background-color: #f2f2f2; color: #1A4640;" >Register</button>
      </div>
    </div> -->

    <ion-segment (ionChange)="onSegmentChange($event)" color="primary" class="mt-5 mb-3">
      <ion-segment-button value="login" class="fw-bold" style="background-color:#1A4640;">
        Login
      </ion-segment-button>
      <ion-segment-button value="register" class="fw-bold" style="background-color: #f2f2f2;">
        Register
      </ion-segment-button>
    </ion-segment>

    <h3 class="pb-3 fw-bolder" style="color:#1A4640;">Easy steps to register</h3>

    <form class="w-100" [formGroup]="registerForm" (ngSubmit)="register()" >

      <ion-item lines="full" class="rounded-4" style="--background: #f2f2f2;" >
        <ion-label style="color: #1A4640;" position="floating">First name</ion-label>
        <ion-input type="text" formControlName="first_name" ></ion-input>
      </ion-item>

      <ion-item lines="full" class="rounded-4 mt-4" style="--background: #f2f2f2;" >
        <ion-label style="color: #1A4640;" position="floating">Email address</ion-label>
        <ion-input type="text" formControlName="email" ></ion-input>
      </ion-item>

      <ion-item lines="full" class="rounded-4 mt-4" style="--background: #f2f2f2;">
        <ion-label style="color: #1A4640;" position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password" ></ion-input>
      </ion-item>

      <div class="form-group text-end mt-3">
        <ion-button [disabled]="!registerForm.valid" type="submit" class="rounded-4" style="--background: #1A4640; color: #f2f2f2;">Register</ion-button>
      </div>

    </form>

  </div>

</ion-content>
