.sent{
    display: flex;
    justify-content: end;
    color: #242323;

    div.message{
        background-color: #dfcece;
        max-width: 60%;

        div.time{
        font-size: .8em;
        text-align: right;
        }
    }

}

.received{
    display: flex;
    justify-content:flex-start;
    color: #242323;

    div.message{
        background-color: #b9c5d6;
        max-width: 60%;

        div.time{
        font-size: .8em;
        text-align: right;
        }
    }

}

@media(min-width:500px){
    .user-profile{
        margin-left: 2% !important;
    }
}