
<app-header></app-header>

<ion-content [fullscreen]="true" style="--background: #f2f2f2;">

  <!-- <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let category of categories">
        <ion-card>
          <ion-card-content>
            {{category.name}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>   -->  

  <ion-segment class="p-2" [(ngModel)]="selectedTab" (ionChange)="segmentChanged($event)" >
    <ion-segment-button class="rounded-4 overflow-hidden tab fw-bold" value="buying"  [ngClass]="{'active-tab': selectedTab === 'buying'}">
      <ion-label>Buy</ion-label>
    </ion-segment-button>
    <ion-segment-button class="rounded-4 overflow-hidden tab fw-bold" value="renting"  [ngClass]="{'active-tab': selectedTab === 'renting'}">
      <ion-label>Rent</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="selectedTab">
    
    <div class="" *ngSwitchCase="'buying'">
      <!-- Content for Tab 1 -->

      <ion-toolbar style="--background:#1A4640;">
        <ion-searchbar class="custom" style="--background: #f2f2f2;" placeholder="Search for products or rentals" ></ion-searchbar>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon style="color:#f2f2f2;" name="options"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <ion-grid>
        <ion-row class="m-0" style="align-items: start;">

          <ion-col class="category rounded m-0" size="12" size-md="4" size-lg="3">
            <app-categories></app-categories>
            
          </ion-col>

          <ion-col class="a rounded" size="12" size-md="8" size-lg="9" >

            <ion-grid>
              <ion-img class="newarrival" src="../../../assets/images/newarrival.png"> </ion-img>
              <ion-row class="m-0 p-0">
                <ion-col size="6" size-md="4" size-lg="3" *ngFor="let product of newArrivals">

                  <ion-card class="m-0" style="background: #f2f2f2;">
                    <img src="../../../assets/images/agric-food.jpg" alt="{{ product.name }}">
                    <ion-card-header>
                      <ion-card-title>{{ product.name }}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-button expand="full" >View Product</ion-button>
                    </ion-card-content>
                  </ion-card>
                
                </ion-col>
              </ion-row>
            </ion-grid>
            

          </ion-col>

        </ion-row>
      </ion-grid>
      
    </div>
    <div *ngSwitchCase="'renting'">
      <!-- Content for Tab 2 -->
      <h1>Renting</h1>
    </div>
  </div>

  
</ion-content>
