
<app-header></app-header>

<ion-content [fullscreen]="true" style="--background: #f2f2f2;"> 

  <ion-segment class="p-2" [(ngModel)]="selectedTab" (ionChange)="segmentChanged($event)" >
    <ion-segment-button class="rounded-4 overflow-hidden tab fw-bold" value="buying"  [ngClass]="{'active-tab': selectedTab === 'buying'}">
      <ion-label>Buying</ion-label>
    </ion-segment-button>
    <ion-segment-button class="rounded-4 overflow-hidden tab fw-bold" value="renting"  [ngClass]="{'active-tab': selectedTab === 'renting'}">
      <ion-label>Renting</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="selectedTab">
    <div *ngSwitchCase="'buying'">
      <!-- Content for Tab 1 -->
      <ion-grid>
        <ion-row>

          <ion-col class="category" size="12" size-md="4" size-lg="3">
            <ion-grid>
              <ion-row>
                <ion-col style="color: black;" *ngFor="let category of categories" size="6" class="category-col">
                  <!-- <ion-icon [name]="category.icon"></ion-icon> -->
                  <img class="rounded-circle" [src]="category.imageUrl" alt="{{category.name}}">
                  <p>{{ category.name }}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
            
          </ion-col>

          <ion-col class="a" size="12" size-md="8" size-lg="9">Column 2</ion-col>
        </ion-row>
      </ion-grid>
      
    </div>
    <div *ngSwitchCase="'renting'">
      <!-- Content for Tab 2 -->
      <h1>Renting</h1>
    </div>
  </div>

  
</ion-content>
