<ion-header>
  <ion-toolbar>
    <ion-title class="ion-no-padding" >
      
      <ion-item button (click)="redirect('profile')" *ngIf="user" class="ion-no-padding" lines="none" class="mt-2" style="--background : transparent;">
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" [src]="user.user_profile.url"/>
        </ion-avatar>
        <ion-label style="color:#f2f2f2;">
          <h3 class="fw-bold"> {{user.username ? user.username : user.first_name }} </h3>
          
        </ion-label>
        </ion-item>

        <ion-item *ngIf="!user" lines="none" class="my-2" style="--background : transparent;">
          
          <ion-button class="auth" (click)="redirectAuth('register')" slot="start" >Sign Up</ion-button>

          <ion-button class="auth" slot="end" (click)="redirectAuth('login')" >Login</ion-button>

          </ion-item>

    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  
    <ion-item (click)="redirect('home')" button >
      <ion-icon slot="start" name="home"></ion-icon>
      Home
    </ion-item>

    <ion-item *ngIf="user" button detail="true" detail-icon="caret-forward-outline" (click)="redirect('my-products')" >
      <ion-icon class="fa-solid fa-boxes-stacked" slot="start" name="search"></ion-icon>
      <ion-label>
        <h3>My Products</h3>
        <p>{{userProductsAvailable}} Listed</p>
      </ion-label>
    </ion-item>

    <ion-item (click)="redirect('products')" button detail="true" detail-icon="caret-forward-outline"  routerLink="/sd">
      <ion-icon class="fa-solid fa-circle" slot="start" name="search"></ion-icon>
      <ion-label>
        <h3>All Products</h3>
        <p>{{productsAvailable}} Available</p>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="user" button detail="true" detail-icon="caret-forward-outline" (click)="redirect('n/a')">
      <ion-icon slot="start" name="chatbox-ellipses"></ion-icon>
      <ion-label>
        <h3>Messages</h3>
        <p>4 New Messages</p>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="user" button (click)="redirect('order-history')" detail="true" detail-icon="caret-forward-outline" >
      <ion-icon slot="start" name="list"></ion-icon>
      Order History
    </ion-item>

    <ion-item *ngIf="user" button (click)="redirect('cart')" routerLink="/cart">
      <ion-icon slot="start" name="cart"></ion-icon>
      <ion-label>
        <h3>Cart</h3>
        <p>0 Items Added</p>
      </ion-label>
    </ion-item>

    <ion-item (click)="redirect('profile')" button *ngIf="user" >
      <ion-icon slot="start" name="person"></ion-icon>
      Profile
    </ion-item>

    <ion-item button (click)="redirect('settings')" *ngIf="user" routerLink="/settings">
      <ion-icon slot="start" name="settings"></ion-icon>
      Settings & Support
    </ion-item>
    
    
</ion-content>