<ion-header>
  <ion-toolbar>
    <ion-title class="ion-no-padding" >
      
      <ion-item button (click)="redirect('profile')" *ngIf="user" class="ion-no-padding" lines="none" class="mt-2" style="--background : transparent;">
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" [src]="user.user_profile.url"/>
        </ion-avatar>
        <ion-label style="color:#f2f2f2;">
          <h3 class="fw-bold"> {{user.username}} </h3>
          <!-- <p class="d-flex mt-2 align-items-center text-light text-center "> <span class="me-2"> <b> {{user.following.length}} </b> <br> Following</span> <span class="ps-2" style="border-left: 2px dotted;" > <b> {{user.followers.length}} </b> <br> Followers</span> </p> -->
        </ion-label>
        </ion-item>

        <ion-item *ngIf="!user" lines="none" class="my-2" style="--background : transparent;">
          
          <ion-button slot="start" (click)="redirect('register')" color="light" style="--background:#1A4640;">Sign Up</ion-button>

          <ion-button slot="end" (click)="redirect('login')" color="light" style="--background:#1A4640;">Login</ion-button>

          </ion-item>

          <!-- <ion-item lines="none" class="my-2" style="--background : #1;">
            <ion-button class="w-100 h-100" color="light" style="--background:#1A4640;">Register</ion-button>
            </ion-item> -->

    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  
    <ion-item button routerLink="/home">
      <ion-icon slot="start" name="home"></ion-icon>
      Home
    </ion-item>

    <ion-item *ngIf="user" button detail="true" detail-icon="caret-forward-outline" (click)="redirect('my-products')" >
      <ion-icon class="fa-solid fa-boxes-stacked" slot="start" name="search"></ion-icon>
      <ion-label>
        <h3>My Products</h3>
        <p>230 Listed</p>
      </ion-label>
    </ion-item>

    <ion-item (click)="redirect('products')" button detail="true" detail-icon="caret-forward-outline"  routerLink="/sd">
      <ion-icon class="fa-solid fa-circle" slot="start" name="search"></ion-icon>
      <ion-label>
        <h3>Products</h3>
        <p>20000 Products</p>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="user" button detail="true" detail-icon="caret-forward-outline" routerLink="/sg">
      <ion-icon slot="start" name="chatbox-ellipses"></ion-icon>
      <ion-label>
        <h3>Messages</h3>
        <p>4 New Messages</p>
      </ion-label>
    </ion-item>

    <ion-item button detail="true" detail-icon="caret-forward-outline" routerLink="/categories">
      <ion-icon slot="start" name="list"></ion-icon>
      Categories
    </ion-item>

    <ion-item button routerLink="/cart">
      <ion-icon slot="start" name="cart"></ion-icon>
      <ion-label>
        <h3>Cart</h3>
        <p>4 Items Added</p>
      </ion-label>
    </ion-item>

    <ion-item button *ngIf="user" routerLink="/products">
      <ion-icon slot="start" name="person"></ion-icon>
      Profile
    </ion-item>

    <ion-item button *ngIf="user" routerLink="/settings">
      <ion-icon slot="start" name="settings"></ion-icon>
      Settings & Support
    </ion-item>
    
    
</ion-content>